In [1]:
import pandas as pd
import numpy as np

In [2]:
# 属性列名
names = (
    'age',
    'workclass', 
    'fnlwgt', 
    'education',
    'education-num',
    'marital-status',
    'occupation',
    'relationship',
    'race',
    'sex',
    'capital-gain',
    'capital-loss',
    'hours-per-week',
    'native-country',
    'income',
)
# 分类数据
categorical = set((
    'workclass',
    'education',
    'marital-status',
    'occupation',
    'relationship',
    'sex',
    'native-country',
    'race',
    'income',
))

In [3]:
df = pd.read_csv("adult.data.txt", sep=", ", header=None, names=names, index_col=False, engine='python')
avg_age_1=df['age'].mean()
avg_age_1#原数据集平均年龄

38.58164675532078

In [4]:
#敏感度
avg_age_1-(avg_age_1*32561-90)/32560

0.0015791877532151943

In [5]:
dfn = pd.read_csv("out.csv", sep=",", index_col=False, engine='python')
dfn=dfn.iloc[:,[1,-1]]
dfn

            age  count
0     17.000000      6
1     17.000000      5
2     17.000000      5
3     17.000000      6
4     17.000000      5
...         ...    ...
7699  79.833333      5
7700  79.833333      1
7701  81.000000      3
7702  81.000000      3
7703  81.600000      5

[7704 rows x 2 columns]

In [6]:
sage=0
scnt=0
avg_age_2=0
for row in dfn.itertuples():
    sage+=row[1]*row[2]
    scnt+=row[2]
avg_age=sage/scnt
avg_age_2=avg_age
avg_age_2#原数据集平均年龄

38.58164675532078

In [7]:
def add_laplace_noise(data_list, μ=0, b=1):
    laplace_noise = np.random.laplace(μ, b, len(data_list)) # 为原始数据添加μ为0，b为1的噪声
    res=np.append((laplace_noise+data_list.T[0]),data_list.T[1]).T
    return res.reshape(2,len(data_list)).T

def age_mean(a):
    sage=0
    scnt=0
    for row in a:
        sage+=row[0]*row[1]
        scnt+=row[1]
    return sage/scnt

data1 = dfn.to_numpy()

In [8]:
data=data1
print(len(data))
print("原始无噪声数据|均值：" + str(age_mean(data)))
x1=age_mean(data)
noise_list = add_laplace_noise(data)
print("加噪声后的数据|均值：" + str(age_mean(noise_list)))
y1=age_mean(noise_list)
data=np.delete(data,-1,axis=0)
print(len(data))
print("原始无噪声数据|均值：" + str(age_mean(data)))
x2=age_mean(data)
noise_list = add_laplace_noise(data)
print("加噪声后的数据|均值：" + str(age_mean(noise_list)))
y2=age_mean(noise_list)

7704
原始无噪声数据|均值：38.58164675532078
加噪声后的数据|均值：38.57278048586883
7703
原始无噪声数据|均值：38.57503993119548
加噪声后的数据|均值：38.60613845349341

In [9]:
(x1*32561-x2*32556)/5

81.6

In [10]:
(y1*32561-y2*32556)/5

-178.62761831125243